@using VIVU.Shared.Model
@model IEnumerable<ProductCategoryModel>

@if(Model != null &&
   Model.Any())
{
    foreach(var category in Model)
    {
        <div class="card w-100 p-0 mb-0 border-0">
            <div class="card-body p-1">
                <div class="row w-100 m-0">
                    <div class="col-md-10">
                        <h6 class="mb-0">@category.Id - @category.Name</h6>
                        <p class="mb-0" style="font-size:12px;">Tên: @category.Name</p>
                        <p class="mb-0" style="font-size:12px;">Mô tả: @category.Description</p>
                    </div>
                    <div class="col-md-2">
                        <div class="float-end">
                            <button class="btn btn-outline-success mx-1" onclick="onDetail('@category.Id')">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <button class="btn btn-outline-danger mx-1" onclick="onDelete('@category.Id')">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

