@using Microsoft.Extensions.Options
@using VIVU.Logic.Configs

@inject IOptions<SiteConfig> siteConfig
@{
	ViewData["Title"] = "Chi tiết";
}
<div class="row">
	<div class="pt-1 pb-0" id="breadcrumbs-wrapper">		
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h5 class="breadcrumbs-title"></h5>
				</div>
				<div class="col s12 m6 l6 right-align-md">
					<ol class="breadcrumbs mb-0">
						<li class="breadcrumb-item">
							<a href="@($"{siteConfig.Value.HttpsUrl}")">Trang chủ</a>
						</li>
						<li class="breadcrumb-item">
							<a href="@($"{siteConfig.Value.HttpsUrl}san-pham/cay-1.html")">Cây treo quần áo</a>
						</li>
						<li class="breadcrumb-item active">
							Cây Treo Quần Áo VIVUDECOR 100% Gỗ Tự Nhiên
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="container">
			<div class="section">
				<div class="row" id="ecommerce-products">
					<div class="col s12 m12 l9">
						<div class="col s12">
							<div class="card animate fadeUp">
								<div class="card-badge"><a class="white-text"> <b>bán chạy</b> </a></div>
								<div class="card-content">
									<div class="row" id="product-four">
										<div class="col m6">
											<img src="@($"{siteConfig.Value.HttpsUrl}images/cay-treo-quan-ao-009.jpg")" class="responsive-img" alt="">
										</div>
										<div class="col m6">
											<p>Cây treo quần áo</p>
											<h5>Cây Treo Quần Áo VIVUDECOR 100% Gỗ Tự Nhiên</h5>
											<span class="new badge left ml-0 mr-2" data-badge-caption="">420 lượt đặt hàng</span>
											<p>Tình trạng: <span class="green-text">Còn hàng</span></p>
											<hr class="mb-5">
											<p class="mt-3">- 100% gỗ cao su tự nhiên sấy khô bằng công nghệ cao</p>
											<p>- Chắc chắn chịu lực tốt</p>
											<p>- Bằng gỗ sang trọng</p>
											<p>- Tiện dụng đóng gói và di chuyển</p>
											<h5 class="green-text">
												390.000 đồng <span class="red-text lighten-2 ml-3"
										   style="text-decoration-line: line-through;">460.000 đồng</span>
											</h5>
											<button class="waves-effect waves-light btn gradient-45deg-green-teal z-depth-4 mt-2"><span>Giỏ hàng</span></button>
											<button class="waves-effect waves-light btn gradient-45deg-light-blue-cyan z-depth-4 mt-2"><span>Yêu thích</span></button>
										</div>

										<div class="col m12">
											<hr />
											<div class="KqLK01">
												<div class="_5RoKIR">
													<div class="hrQhmh">
														<div style="position: relative; width: 100%; padding-bottom: 77.2201%;">
															<div class="Mzs0kz"
																 style="position: absolute; left: 0px; right: 0px; width: 100%; height: 100%;">
																<img width="invalid-value" height="invalid-value" class="WA1zgt _8akja2"
																	 style="object-fit: contain"
																	 src="https://cf.shopee.vn/file/53ac3ed51cf025f89e847d01eacf53ae">
															</div>
														</div>
													</div>
													<div class="hrQhmh">
														<div style="position: relative; width: 100%; padding-bottom: 141.443%;">
															<div class="Mzs0kz"
																 style="position: absolute; left: 0px; right: 0px; width: 100%; height: 100%;">
																<img width="invalid-value" height="invalid-value" class="WA1zgt _8akja2"
																	 style="object-fit: contain"
																	 src="https://cf.shopee.vn/file/08fac3739c5f6d8e6821f2fa8b975b17">
															</div>
														</div>
													</div>
													<div class="hrQhmh">
														<div style="position: relative; width: 100%; padding-bottom: 100%;">
															<div class="Mzs0kz"
																 style="position: absolute; left: 0px; right: 0px; width: 100%; height: 100%;">
																<img width="invalid-value" height="invalid-value" class="WA1zgt _8akja2"
																	 style="object-fit: contain"
																	 src="https://cf.shopee.vn/file/28a69b2043c7cc7fa1e7ed433d0d8427">
															</div>
														</div>
													</div>
													<div class="hrQhmh">
														<div style="position: relative; width: 100%; padding-bottom: 103.306%;">
															<div class="Mzs0kz"
																 style="position: absolute; left: 0px; right: 0px; width: 100%; height: 100%;">
																<img width="invalid-value" height="invalid-value" class="WA1zgt _8akja2"
																	 style="object-fit: contain"
																	 src="https://cf.shopee.vn/file/c4625003410631d4606bb33867f8381b">
															</div>
														</div>
													</div>
													<div class="hrQhmh">
														<div style="position: relative; width: 100%; padding-bottom: 100%;">
															<div class="Mzs0kz"
																 style="position: absolute; left: 0px; right: 0px; width: 100%; height: 100%;">
																<img width="invalid-value" height="invalid-value" class="WA1zgt _8akja2"
																	 style="object-fit: contain"
																	 src="https://cf.shopee.vn/file/fb96c5180307c0aebd3f5672fb40cca4">
															</div>
														</div>
													</div>
													<div class="hrQhmh">
														<div style="position: relative; width: 100%; padding-bottom: 100%;">
															<div class="Mzs0kz"
																 style="position: absolute; left: 0px; right: 0px; width: 100%; height: 100%;">
																<img width="invalid-value" height="invalid-value" class="WA1zgt _8akja2"
																	 style="object-fit: contain"
																	 src="https://cf.shopee.vn/file/52e6ca03dbcde75198adef09d54b7bbb">
															</div>
														</div>
													</div>
													<div class="hrQhmh">
														<div style="position: relative; width: 100%; padding-bottom: 100%;">
															<div class="Mzs0kz"
																 style="position: absolute; left: 0px; right: 0px; width: 100%; height: 100%;">
																<img width="invalid-value" height="invalid-value" class="WA1zgt _8akja2"
																	 style="object-fit: contain"
																	 src="https://cf.shopee.vn/file/773042982bd4cd48bcf03199f12ab6b6">
															</div>
														</div>
													</div>
													<p class="hrQhmh">1.Mô tả sản phẩm Cây treo quần áo Vivudecor: </p>
													<p class="hrQhmh">
														Cây treo quần áo Vivudecor được làm bằng 100% gỗ cao su tự nhiên sấy khô
														bằng công nghệ cao, chắc chắn chịu lực tốt. Đã qua quy trình xử lí chống mối mọt, sơn
														bóng không gây trầy xước và được bảo hành 1 năm.
													</p>
													<p class="hrQhmh">
														Cây quần áo bằng gỗ sang trọng và lắp ráp dễ dàng nam nữ đều làm được,
														tiện dụng đóng gói và di chuyển
													</p>
													<p class="hrQhmh">
														Cây Treo đồ Vivudecor là nội thất trang trí Phòng Khách, Phòng Ngủ, các
														văn phòng, căn hộ nhỏ, chung cư, dịch vụ homestay,... có tính hữu dụng cao.
													</p>
													<p class="hrQhmh">
													</p>
													<p class="hrQhmh">2. Thông số Cây treo quần gỗ Vivudecor: </p>
													<p class="hrQhmh">
														Cây treo quần áo ST gồm có: 3 Chân, 3 thanh tròn thân cây, 1 nhánh gốc
														và 8 nhánh được xếp gọn trong hộp
													</p>
													<p class="hrQhmh">
														Cây treo quần áo Có 4 Màu : Màu gỗ tự nhiên - Màu Gỗ Sồi (Oak) - Màu Nâu
														(Walnut)
													</p>
													<p class="hrQhmh">Chất liệu cây treo quần áo: 100% gỗ cao su tự nhiên</p>
													<p class="hrQhmh">Thương hiệu: Vivudecor (Việt Nam)</p>
													<p class="hrQhmh">Kích thước cây treo quần áo: 45x45x180cm -Thân cây đường kính 5cm.</p>
													<p class="hrQhmh">Sản xuất tại : Việt Nam - Hàng Xuất Khẩu</p>
													<p class="hrQhmh">Trọng lượng cây treo quần áo gỗ: 3 kg</p>
													<p class="hrQhmh">
													</p>
													<p class="hrQhmh">3. Công dụng, công năng của Cây treo quần áo Vivudecor: </p>
													<p class="hrQhmh">
														Cây treo quần áo thiết kế tinh tế, thanh lịch, sang trọng phù hợp với
														thiết kế nội thất, tận dụng được các khoảng không gian trong căn phòng của bạn.
													</p>
													<p class="hrQhmh">
														Cây treo đồ thông minh tiện ích rất đa năng cho việc treo móc những quần
														áo mặc dở, quần áo hay sử dụng, nón mũ, túi xách, áo khoác.
													</p>
													<p class="hrQhmh">Cây treo quần áo Vivudecor an toàn cho người sử dụng</p>
													<p class="hrQhmh">
													</p>
													<p class="hrQhmh">4. Chính sách bảo hành cho Cây treo quần áo Vivudecor:</p>
													<p class="hrQhmh">1 đổi 1 miễn phí trong vòng 7 ngày</p>
													<p class="hrQhmh">Thời gian bảo hành: 12 tháng</p>
													<p class="hrQhmh">Một số trường hợp VVUDECOR bảo hành:</p>
													<p class="hrQhmh">- Cây treo quần áo gỗ bị hư hỏng/ bể vỡ trong quá trình vận chuyển </p>
													<p class="hrQhmh">- Cây móc quần áo bị lỗi do lỗi từ nhà sản xuất </p>
													<p class="hrQhmh">- Cây treo quần áo giao đến không đúng với đơn hàng đã đặt </p>
													<p class="hrQhmh">- Cây treo quần áo bằng gỗ được giao không đủ số lượng theo đơn hàng</p>
													<p class="hrQhmh">- Những lỗi khác do kỹ thuật, chất liệu của Cây treo đồ</p>
													<p class="hrQhmh">- Chăm sóc, hỗ trợ &amp; tư vấn trọn đời</p>
													<p class="hrQhmh">
													</p>
													<p class="hrQhmh">5. Hướng dẫn sử dụng:</p>
													<p class="hrQhmh">
														- Cây treo quần áo tự lắp ráp, nguyên kiện bao gồm bộ dụng cụ lắp ráp,
														hình ảnh &amp; Video hướng dẫn sử dụng.
													</p>
													<p class="hrQhmh">
														- Hạn chế tiếp xúc các loại cây treo đồ bằng gỗ với ánh nắng mặt trời,
														nơi ẩm ướt và lau khô khi tiếp xúc với nước
													</p>
													<p class="hrQhmh">
														- Sử dụng các chất tẩy rửa chuyên dụng để không làm mất độ thẩm mỹ của
														các loại cây treo đồ bằng gỗ.
													</p>
													<p class="hrQhmh">
														- Khi gặp vấn đề liên hệ dịch vụ CSKH của Vivudecor để được hỗ trợ nhanh
														nhất.
													</p>
													<p class="hrQhmh">
													</p>
													<p class="hrQhmh">6. Mẹo khi mua hàng:</p>
													<p class="hrQhmh">- Áp dụng đúng mã voucher để được ưu đãi tốt nhất</p>
													<p class="hrQhmh">
														- Khi nhận hàng, khách hàng nên quay video lúc mở sản phẩm để đảm bảo
														quyền lợi khi có sự cố phải đổi trả sản phẩm.
													</p>
													<p class="hrQhmh">
														- Hãy để lại vài lời đánh giá chân thành về chất lượng sản phẩm/dịch vụ
														để góp phần Vivudecor phát triển tốt sản phẩm/ dịch vụ và nhận được thêm nhiều ƯU ĐÃI.
													</p>
													<p class="hrQhmh">
														VIVUDECOR – Chuyên gia Nội Thất Và Trang Trí Nhà Cửa – Cảm ơn Quý khách!
													</p>
													<p class="hrQhmh">
													</p>
													<p class="hrQhmh">
														#caytreoquanao #caytreodo#mocquanao #moctreo #moctreodo #noithat
														#vivudecor #quan #ao #go #moctreoquanao #giatreodo #caytreoquanaobanggo #ketreodo
														#giatreoquanao
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col s12 m3 l3 pr-0 hide-on-med-and-down animate fadeLeft">
						<div class="card">
							<div class="card-content">
								<span class="card-title">Danh mục sản phẩm</span>
								<hr class="p-0 mb-0">
								<ul class="collapsible categories-collapsible">
									<li>
										<div class="collapsible-header">
											<a href="#">Cây treo quần áo</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Giá treo quần áo</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Móc treo dán tường</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Kệ gỗ treo tường</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Tủ gỗ</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Sản phẩm mới</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Bán chạy</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Khuyến mãi</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<span class="card-title">Sản phẩm bán chạy</span>
								<hr class="p-0 mb-0">

								<div class="col s12 m12 l12">
									<div class="card animate fadeLeft">
										<div class="card-badge"><a href="#" class="white-text"><b>Bán chạy</b></a></div>
										<div class="card-content">
											<a href="#">
												<p>Giá treo quần áo</p>
											</a>
											<a href="#"><span class="card-title text-ellipsis">Giá treo quần áo</span></a>
											<img src="@($"{siteConfig.Value.HttpsUrl}images/gia-treo-quan-ao-000.jpg")" class="responsive-img" alt="">
											<div class="row">
												<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
												<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
												   href="#">Xem thêm</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col s12 m12 l12">
									<div class="card animate fadeLeft">
										<div class="card-badge"><a href="#" class="white-text"><b>Bán chạy</b></a></div>
										<div class="card-content">
											<a href="#">
												<p>Giá treo quần áo</p>
											</a>
											<a href="#"><span class="card-title text-ellipsis">Giá treo quần áo</span></a>
											<img src="@($"{siteConfig.Value.HttpsUrl}images/gia-treo-quan-ao-000.jpg")" class="responsive-img" alt="">
											<div class="row">
												<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
												<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
												   href="#">Xem thêm</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col s12 m12 l12">
									<div class="card animate fadeLeft">
										<div class="card-badge"><a href="#" class="white-text"><b>Bán chạy</b></a></div>
										<div class="card-content">
											<a href="#">
												<p>Giá treo quần áo</p>
											</a>
											<a href="#"><span class="card-title text-ellipsis">Giá treo quần áo</span></a>
											<img src="@($"{siteConfig.Value.HttpsUrl}images/gia-treo-quan-ao-000.jpg")" class="responsive-img" alt="">
											<div class="row">
												<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
												<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
												   href="#">Xem thêm</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>