@using Microsoft.Extensions.Options
@using VIVU.Logic.Configs

@inject IOptions<SiteConfig> siteConfig

<footer
    class="page-footer footer footer-static footer-dark gradient-45deg-light-blue-cyan gradient-shadow navbar-border navbar-shadow">
    <br />
    <div class="container">
      <div class="row">
        <div class="col s12 m12 l3">
          <a target="_blank" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=32402">
            <img width="200px" height="76px" src="@($"{siteConfig.Value.HttpsUrl}images/bo-cong-thuong.png")">
          </a>
          <br />
          <a target="_blank" href="https://shopee.vn/vivudecor">
            <img width="200px" height="76px" src="@($"{siteConfig.Value.HttpsUrl}images/Shopee.jpg")">
          </a>
          <br />
          <a target="_blank" href="http://www.lazada.vn/catalog/?q=vivu-decor">
            <img width="200px" height="76px" src="@($"{siteConfig.Value.HttpsUrl}images/lazada.jpg")">
          </a>
          <br />
          <a target="_blank" href="https://www.sendo.vn/tim-kiem/?q=vivu-decor">
            <img width="200px" height="76px" src="@($"{siteConfig.Value.HttpsUrl}images/sendo.jpg")">
          </a>
        </div>
        <div class="col s12 m12 l3">
          <ul>
            <li><a href='#' style="color: #ffffff;">Chính sách bảo mật</a></li>
            <li><a href='#' style="color: #ffffff;">Chính sách đại lý Online</a></li>
            <li><a href='#' style="color: #ffffff;">Quy định đổi trả hàng</a></li>
            <li><a href='#' style="color: #ffffff;">Hướng dẫn thanh toán và mua hàng</a></li>
            <li><a href='#' style="color: #ffffff;">Chính sách vận chuyển</a></li>
            <li><a href='#' style="color: #ffffff;">Chính sách bảo mật</a></li>
            <li><a href='#' style="color: #ffffff;">Chính sách đại lý Online</a></li>
            <li><a href='#' style="color: #ffffff;">Quy định đổi trả hàng</a></li>
            <li><a href='#' style="color: #ffffff;">Hướng dẫn thanh toán và mua hàng</a></li>
            <li><a href='#' style="color: #ffffff;">Chính sách vận chuyển</a></li>
          </ul>
        </div>
        <div class="col s12 m12 l3">
          <ul>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại thành phố Hồ Chí Minh</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại thành phố Hà Nội</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại thành phố Hải Phòng</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại thành phố Đà Nẵng</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại thành phố Cần Thơ</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Bình Dương</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Đồng Nai</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Long An</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Bắc Ninh</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Phú Thọ</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Nghệ An</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Cà Mau</a></li>
            <li><a href='#' style="color: #ffffff;">Cây treo quần áo tại tỉnh Bạc Liêu</a></li>

          </ul>
        </div>
        <div class="col s12 m12 l3">
           <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/noithat.vivudecor&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container"><span>&copy; 2022 <a href="@($"{siteConfig.Value.HttpsUrl}")">VIVU</a> Bảo lưu tất cả
          các quyền.</span><span class="right hide-on-small-only">Thiết kế và phát triển bởi <a href="https://sohu.vn/"
            target="_blank">SOHU</a></span></div>
    </div>
 </footer>

<div style="position:fixed; bottom:20px; right:20px; z-index:1000;">
    <div>
      <a href="https://zalo.me/0937843970" target="_blank">
        <img src="@($"{siteConfig.Value.HttpsUrl}images/zalo.png")" width="50px" height="50px">
      </a>
    </div>
    <div>
      <a href="https://m.me/fintechfengshui" target="_blank">
        <img src="@($"{siteConfig.Value.HttpsUrl}images/messenger.png")" width="50px" height="50px">
      </a>
    </div>
    <div>
      <a href="tel:0909101303" target="_blank">
        <img src="@($"{siteConfig.Value.HttpsUrl}images/phone.png")" width="50px" height="50px">
      </a>
    </div>
  </div>