@using Microsoft.Extensions.Options
@using VIVU.Logic.Configs

@inject IOptions<SiteConfig> siteConfig
@{
	ViewData["Title"] = "Blogs";
}
<div class="row">
	<div class="pt-1 pb-0" id="breadcrumbs-wrapper">		
		<div class="container">
			<div class="row">
				<div class="col s12 m6 l6">
					<h5 class="breadcrumbs-title">Blogs</h5>
				</div>
				<div class="col s12 m6 l6 right-align-md">
					<ol class="breadcrumbs mb-0">
						<li class="breadcrumb-item">
							<a href="index.html">Trang chủ</a>
						</li>
						<li class="breadcrumb-item active">
							Bài viết
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12">
		<div class="container">
			<div class="section" id="blog-list">
				<div class="row">
					<div class="col s12 m12 l9">
						<div class="row">

							<div class="col s12 m6 l4">
								<div class="card-panel border-radius-6 mt-10 card-animation-1">
									<a href="#">
										<img class="responsive-img border-radius-8 z-depth-4 image-n-margin"
											 src="@($"{siteConfig.Value.HttpsUrl}app-assets/images/cards/news-fashion.jpg")" alt="">
									</a>
									<h6 class="deep-purple-text text-darken-3 mt-5">
										<a href="#">
											Cây treo quần áo
											tại thành phố Hồ Chí Minh
										</a>
									</h6>
									<span>
										Cây treo quần áo Vivudecor được làm bằng 100% gỗ cao su tự nhiên sấy
										khô bằng công nghệ cao, chắc chắn chịu lực tốt. Đã qua quy trình xử lí
										chống mối mọt, sơn bóng không gây trầy xước và được bảo hành 1
										năm.
									</span>
									<div class="row mt-4">
										<div class="col s5 mt-1">
										</div>
										<div class="col s7 mt-3 right-align social-icon">
											<span class="material-icons">access_time</span> <span class="ml-3 vertical-align-top">23/06/2022 15:17</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col s12 m6 l4">
								<div class="card-panel border-radius-6 mt-10 card-animation-1">
									<a href="#">
										<img class="responsive-img border-radius-8 z-depth-4 image-n-margin"
											 src="@($"{siteConfig.Value.HttpsUrl}app-assets/images/cards/news-apple.jpg")" alt="">
									</a>
									<h6 class="deep-purple-text text-darken-3 mt-5">
										<a href="#">
											Cây treo quần áo
											tại thành phố Hà Nội
										</a>
									</h6>
									<span>
										Cây treo quần áo Vivudecor được làm bằng 100% gỗ cao su tự nhiên sấy
										khô bằng công nghệ cao, chắc chắn chịu lực tốt. Đã qua quy trình xử lí
										chống mối mọt, sơn bóng không gây trầy xước và được bảo hành 1
										năm.
									</span>
									<div class="row mt-4">
										<div class="col s5 mt-1">
										</div>
										<div class="col s7 mt-3 right-align social-icon">
											<span class="material-icons">access_time</span> <span class="ml-3 vertical-align-top">23/06/2022 15:17</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col s12 m6 l4">
								<div class="card-panel border-radius-6 mt-10 card-animation-1">
									<a href="#">
										<img class="responsive-img border-radius-8 z-depth-4 image-n-margin"
											 src="@($"{siteConfig.Value.HttpsUrl}app-assets/images/cards/news-twitter.jpg")" alt="">
									</a>
									<h6 class="deep-purple-text text-darken-3 mt-5">
										<a href="#">
											Cây treo quần áo
											tại thành phố Hải Phòng
										</a>
									</h6>
									<span>
										Cây treo quần áo Vivudecor được làm bằng 100% gỗ cao su tự nhiên sấy
										khô bằng công nghệ cao, chắc chắn chịu lực tốt. Đã qua quy trình xử lí
										chống mối mọt, sơn bóng không gây trầy xước và được bảo hành 1 năm.
									</span>
									<div class="row mt-4">
										<div class="col s5 p-0 mt-1">
										</div>
										<div class="col s7 mt-3 right-align social-icon">
											<span class="material-icons">access_time</span> <span class="ml-3 vertical-align-top">23/06/2022 15:17</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					
					</div>
					<div class="col s12 m3 l3 pr-0 hide-on-med-and-down animate fadeLeft"
						 id="ecommerce-products">
						<div class="card">
							<div class="card-content">
								<span class="card-title">Danh mục sản phẩm</span>
								<hr class="p-0 mb-0">
								<ul class="collapsible categories-collapsible">
									<li>
										<div class="collapsible-header">
											<a href="#">Cây treo quần áo</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Giá treo quần áo</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Móc treo dán tường</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Kệ gỗ treo tường</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Tủ gỗ</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Sản phẩm mới</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Bán chạy</a>
										</div>
									</li>
									<li>
										<div class="collapsible-header">
											<a href="#">Khuyến mãi</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<span class="card-title">Sản phẩm bán chạy</span>
								<hr class="p-0 mb-0">

								<div class="col s12 m12 l12">
									<div class="card animate fadeLeft">
										<div class="card-badge"><a href="#" class="white-text"><b>Bán chạy</b></a></div>
										<div class="card-content">
											<a href="#">
												<p>Giá treo quần áo</p>
											</a>
											<a href="#"><span class="card-title text-ellipsis">Giá treo quần áo</span></a>
											<img src="@($"{siteConfig.Value.HttpsUrl}images/gia-treo-quan-ao-000.jpg")" class="responsive-img" alt="">
											<div class="row">
												<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
												<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
												   href="#">Xem thêm</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col s12 m12 l12">
									<div class="card animate fadeLeft">
										<div class="card-badge"><a href="#" class="white-text"><b>Bán chạy</b></a></div>
										<div class="card-content">
											<a href="#">
												<p>Giá treo quần áo</p>
											</a>
											<a href="#"><span class="card-title text-ellipsis">Giá treo quần áo</span></a>
											<img src="@($"{siteConfig.Value.HttpsUrl}images/gia-treo-quan-ao-000.jpg")" class="responsive-img" alt="">
											<div class="row">
												<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
												<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
												   href="#">Xem thêm</a>
											</div>
										</div>
									</div>
								</div>

								<div class="col s12 m12 l12">
									<div class="card animate fadeLeft">
										<div class="card-badge"><a href="#" class="white-text"><b>Bán chạy</b></a></div>
										<div class="card-content">
											<a href="#">
												<p>Giá treo quần áo</p>
											</a>
											<a href="#"><span class="card-title text-ellipsis">Giá treo quần áo</span></a>
											<img src="@($"{siteConfig.Value.HttpsUrl}images/gia-treo-quan-ao-000.jpg")" class="responsive-img" alt="">
											<div class="row">
												<h5 class="col s12 m12 l8 mt-3">541.000 đồng</h5>
												<a class="col s12 m12 l4 mt-2 waves-effect waves-light gradient-45deg-green-teal btn modal-trigger"
												   href="#">Xem thêm</a>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>